/**
 * @name Biscuit Light
 * @description Cozy warm colorscheme for the forest dwellers, Light!
 * @author Tsukki, Sleeping On Sound Waves
 * @source https://github.com/mwittrien/BetterDiscordAddons/tree/master/Themes/DiscordRecolor/
 * @BDEditor DiscordRecolor
*/

/*
                  %%%%%%%%%%%%          
               %%%%%%%%%%%%%%%%%%       
             %%%%%%%%%%%%%%%%%%%%%%@    
           %%%%.:%%%%%%%%%%%%%%..%%%%   
          %%%%*..%%%%%%%%%%%%%%..%%%%%  
         %%%%%%..%%%%%%%%%%%%%*..%%%%%% 
        %%%%%%%..%%%%%%%%%%%%%:..%%%%%%%
        %%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
        %%%%%%%..-%%%%%%%%%%%%=..%%%%%%%                 Biscuits!
        %%%%%%....................%%%%%%                  "Warm and cozy colorscheme for Discord."
        #%%%%%....................%%%%%%
        :%%%%%%..................%%%%%%.
        %.%%%%%%................#%%%%%.%
         %.%%%%%%..............%%%%%%.% 
          %.:%%%%%%%........%%%%%%%=.%  
           %=..%%%%%%%%%%%%%%%%%%..:%   
             %#...*%%%%%%%%%%*...+%@    
               %%%............%%%       
                  %%%%%%%%%%%%          
*/

@import url('https://mwittrien.github.io/BetterDiscordAddons/Themes/DiscordRecolor/DiscordRecolor.css');
  :root
  {
  /* Things to use below, consider them as a 'easy editing tool'! */
  --accent:      155, 166, 54 ;  /* Accent color to use. (Apple Green)                                       */
  --text:        24, 21, 21   ;  /* Text color to use. (Night)                                               */
  --dtext:       43, 38, 38   ;  /* Dark text color to use. It is used for non-active text, I believe. (Jet) */
  --maindark:    244, 230, 210;  /* Main dark color for background. (Antique White)                          */
  --altdark:     219, 198, 194;  /* Color used inside floating pages for better readibility. (Pale Dogwood)  */
  --fnt:         gg sans      ;  /* Font to use. Default font is 'gg sans'.                                  */
  /* End of section! */

  /* Things! */
  --accentcolor:            var(--accent)  ;
  --accentcolor2:           var(--accent)  ;
  --linkcolor:              var(--accent)  ;
  --mentioncolor:           var(--accent)  ;
  --textbrightest:          var(--text)    ;
  --textbrighter:           var(--text)    ;
  --textbright:             var(--text)    ;
  --textdark:               var(--dtext)   ;
  --textdarker:             var(--dtext)   ;
  --textdarkest:            var(--dtext)   ;
  --font:                   var(--fnt)     ;
  --backgroundaccent:       var(--altdark) ;   /* The bar where you send text.                                   */
  --backgroundprimary:      var(--maindark);   /* Chat box.                                                      */
  --backgroundsecondary:    var(--maindark);   /* Channels, users bar.                                           */
  --backgroundsecondaryalt: var(--altdark) ;   /* User bar down left, as well as the background in user popouts. */
  --backgroundtertiary:     var(--altdark) ;   /* Left bar (servers bar), it seems.                              */
  --backgroundfloating:     var(--altdark) ;   /* Separator from the main color in user popouts.                 */
  --settingsicons:          1              ;
  }
